.add-city{
  display:flex; 
}

.add-city .field{
    margin-top: 10px;
}

.messages-add-city{
    display: block;
    text-align: center;
}
.messages-add-city p {
    width: 500px;
    margin: 30px auto;
    padding: 20px 30px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
}

.verde{
    background-color: #28a745;
}
.rojo{
    background-color: #dc3545;
}
.amarillo{
    background-color: #ffc107;
}